@font-face {
    font-family:'tieude' ;
    src: url('./assets/fonts/CormorantSC-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
